<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <!-- !Header igual que principal-->
        <header>
            <div class="cabecera">
                <div class="logo">
                  <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
              
                
                <div class="cajaDeBusqueda">
                  <form action="javascript:void(0)" method="GET"></form>
                      <input type="text" name="productosOmarcas" placeholder="Buscar productos, marcas">
                      <button type="submit"><i class="fas fa-search"></i></button>                      
                  </form> 
                </div>
                <div class="leyenda">
                  <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>  
              </div>
                  
                    <!-- esta parte se esconde en Mobile -->
                    <div class="barraDeNavegacion">              
                        <ul class="navega1">
                          <li><a href="#">Ofertas</a></li>
                          <li><a href="#">Tiendas Oficiales</a></li>
                          <li><a href="#">Vender</a></li>
                          <li><a href="#">Ayuda</a></li>
                        </ul>
                        <ul class="navega2">
                          <li><a href="/registro">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                          <li><a href="/ingreso">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                          <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>              
                        </ul>
                    </div>
                  <div class = "boton-falso">                      
                    <a href="#"><i class='fas fa-bars'></i></a>
                  </div> 
            </header>
<!-- !Ingreso con usuario -->
<main>
    <form class="ingresoDeUsuario">        
            <p><input type="text" id="nomusu" name="nombredeusuario" placeholder="Nombre de usuario"</p>
            <p><input type="password" id="contrasena" name="contrasena" placeholder="Contraseña"></p>
            <p><button type="submit">Enviar</button></p>
    </form>
</main>
      <footer>
        <section class="informacionAdicional">
          <article class="infoPie">
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de
              pago. ¡Y siempre es seguro!</p>
          </article>
          <article class="infoPie">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
              productos. Es un beneficio de MercadoPuntos.</p>
          </article>
          <article class="infoPie">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
              porque estás siempre protegid@.</p>
          </article>
        </section>
        <div>
          Copyright © 1999-2019 MercadoLiebre S.R.L.
        </div>

      </footer>
    </div>
</body>
</html>